

  <%= form_with(model: [@commentable, comment]) do |form| %>
    
    <div class="input-group my-2">
      <%= form.text_area :body,
        maxlength: Comment::MAX_BODY_LENGTH, 
        placeholder: 'Type your comment...',
        class: "form-control field-with-format" %>
    </div>

  <%= custom_submit_button("Create comment") %>
      
  <% end %>
