<div class="">
    <% if @commentable.present? %>
        New comment for 
        <%= link_to "Post #{@commentable.id}", @commentable, class: "no-underline fw-bold" unless @commentable.is_a?(Comment) %>
        <%= link_to @commentable.find_top_parent.id, @commentable.find_top_parent if @commentable.is_a?(Comment) %>
        <%= render 'comments/form', comment: @comment %>
    <% end %>
    
</div>