
<h1>Step 3 - Fan subscribe</h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
3 out of 3
<hr>

<h4 class="mt-4">Toutes les campaigns</h4>

<div id="campaigns">
  <% @campaigns.each do |campaign| %>
    <div class="card p-2 mb-3">
      <%= render campaign %>
    </div>
  <% end %>
</div>