<div class=""> 
    <%= link_to image_tag(athlete.default_profile_pic, class: "img-fluid athlete-discover-img rounded"), athlete_path(athlete) %> 
    <h4 class="text-start m-0 fw-bold"><%= link_to athlete.name, athlete_path(athlete),class:"no-underline" %></h4>
    <div class="text-start m-0"> <%= Sport.find(athlete.sport_id).name if athlete.sport_id.present?  %></div>
</div>