<div id="<%= dom_id athlete %>">
  <p>
    <strong>User:</strong>
    <%= athlete.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= athlete.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= athlete.bio %>
  </p>

</div>
