
<div class="container d-flex flex-row align-items-center justify-content-center mb-2">
    <%= button_to display_media_type_athletes_path(athlete: @athlete, media: "images"), 
        class: "btn orange-bg-colored mx-1" do %>
        <i class="fa fa-image mx-1"></i>
        <span> images </span> 
    <% end %>
     
    <%= button_to display_media_type_athletes_path(athlete: @athlete, media: "videos"), 
        class: "btn btn-outline-secondary mx-1" do %> 
        <i class="fa fa-video ms-3 me-1"></i>
        <span> videos </span> 
    <% end %>
</div>

<div class="card">
  <div class="row">
    <% @image_posts.each do |post| %>
      <div class="col-4"> 
        <%= link_to post_path(post) do %>
          <%= image_tag post.media, class: "rounded w-100 mb-2" %>
        <% end %>        
      </div>
    <% end %>
  </div>
</div>
