<%= render @athlete %>

<div id="partial-container" class="partial-topic">
  <%# recoit le turbo stream avec elements cliqués %>
  <%= render 'athletes/media_images' %>
</div>

<% if appartenance_athlete(@athlete)  %>
   <%= link_to  new_campaign_path, class: "btn w-100 orange-bg-colored text-light my-2" do %>
     <i class="fa fa-plus"></i>
     <span class="fw-bold"> create campaign </span> 
   <% end %>
<% end %>

<br> 
<%= button_to "", destroy_user_session_path, method: :delete, 
        data: {turbo: "false"},
        class: "fa-solid fa-right-from-bracket btn btn-danger me-2"  %>
