<%= render @athlete %>

<div id="partial-container" class="partial-topic">
  <%# recoit le turbo stream avec elements cliqués %>
  <%= render 'athletes/media_images' %>
</div>



<% if appartenance_athlete(@athlete)  %>

  <%= link_to "#", class: "btn orange-bg-colored text-light mt-4 w-100 px-2", type: "button", 
        data: { bs_toggle: "offcanvas", bs_target: "#offcanvasBottom", bs_controls: "offcanvasBottom" } do %>
    <i class="fa fa-plus"></i>
    <span class="fw-bold"> create campaign </span> 
  <% end %>

  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">New campaign </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
      <%= render partial: "campaigns/form", locals: { campaign: Campaign.new, athlete: @athlete } %>
    </div>
  </div>

<% end %>

