<div class="container-fluid my-3 px-0 d-flex justify-content-between">
  <%= link_to "Shado", root_path, class: "btn fw-bold w-50 mx-1 border
       #{'selected-feed' if controller_name == 'pages' && action_name == 'index'}" %>

  <%= link_to "Discover", pages_discover_path, class: "btn fw-bold w-50 mx-1 border
         #{'selected-feed' if controller_name == 'pages' && action_name == 'discover'}" %>
</div>