
<h1>Dashboard</h1>

  <nav class="navbar bg-light">
    <form class="container-fluid justify-content-start">
      <%= link_to "Activities", dashboard_athlete_activities_path, class:"btn btn-primary mx-2" %>
      <%= link_to "Revenues", dashboard_athlete_revenues_path, class:"btn btn-primary mx-2" %>
      <%= link_to "Monetization", dashboard_athlete_monetization_path, class:"btn btn-primary mx-2" %>
      <%= link_to "Guide", dashboard_athlete_guides_path, class:"btn btn-primary mx-2" %>
    </form>
  </nav>
<hr>    