<div class="p-4">

  <%= render "navbar_athlete_dashboard" %>

  <h2 class="my-4">Revenues</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="card card-with-effect">
        <div class="card-body">
          <h5 class="card-title"> Monthly revenues: <%= @valSubscriptions.round(2) %> </h5>
          <p class="card-text">
              <%= render "charts/chartLineSubAthlete" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card card-with-effect">
        <div class="card-body">
          <h5 class="card-title"> Number of posts: <%= @valSubscriptions.round(2) %> </h5>
          <p class="card-text">
            <%#= render "charts/chartPieSubAthlete" %>
          </p>
        </div>
      </div>
    </div>
  </div>  

</div>