<div id="<%= dom_id fan %>">
  <p>
    <strong>User:</strong>
    <%= fan.user_id %>
  </p>

  <p>
    <strong>Pseudo:</strong>
    <%= fan.pseudo %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= fan.bio %>
  </p>

</div>
