<div class="d-flex justify-content-between p-2 mx-1">
    <div class="">
        <i class="mx-1 fa fa-regular fa-xl fa-heart"></i>
        <span> 562 </span>
    </div>
    <div class="">
        <span> 2 451 commentaires </span>
    </div>
    <div class="">
        <span> 224 partages </span>
    </div>
</div>

<hr class="m-0 p-0">

<div class="d-flex justify-content-between p-2 mx-1">
    <div>
        <%= button_to vote_post_path(post, type: :upvote), method: :patch, class: "btn-like #{'text-primary' if current_user&.voted_up_on?(post)}" do %>
            <i class="mx-1 fa-regular fa-xl fa-thumbs-up"></i>
            <span> J'aime </span>
        <% end %>
    </div>
    
    <div>
        <i class="mx-1 fa-regular fa-xl fa-message"></i>
        <span> Commenter </span>
    </div>
    <div>
        <i class="mx-1 fa fa-xl fa-share-from-square"></i>
        <span> Partager </span>
    </div>
</div>


